/*! Imported utils Begin*/
@import url("utils.css");
@import url("icons.css");
/*! Imported utils End*/

/*! Imported font family Begin*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Medium.ttf);
}

@font-face {
  font-family: Mars;
  src: url(../fonts/Mars/Mars.otf);
}

/*! Imported font family End*/

/*? General Settings Begin */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Inter", Helvetica, Arial;
}

/*? General Settings End */
h1 {
  margin: 0;
}

/*? Topbar Begin*/

.topbar {
  display: block;
  background-color: #303030;
  height: 40px;
  font-size: 15px;
}

.items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 7rem;
  text-transform: uppercase;
}

.topbar .items a {
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  color: #777777;
  margin-right: 1rem;
}

.topbar .items a:hover {
  color: #c71932;
  transition: 0.5s all ease-out;
}

/*? Topbar End*/

/*? Header Begin*/

.header {
  display: flex;
  justify-content: space-between;
  height: 114px;
  background-color: #fff;
  opacity: 0;
  animation: details-anim 1s forwards ease-in-out;
  position: relative;
  z-index: 2;
}

.header-sticky {
  width: 100%;
  position: fixed;
  height: 90px;
  top: 0;
  z-index: 3;
  box-shadow: 0 0px 8px rgb(0 0 0 / 30%);
}

/*? Header End*/

/*? Menu Begin  */
.header-menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-right: 110px;
  padding-left: 110px;
  margin-right: auto;
  margin-left: auto;
}

.header-menu > ul {
  padding: 0;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header-menu > ul > li {
  list-style: none;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.header-menu > ul > li:hover > a {
  color: #c71932 !important;
  transition: 0.5s all ease-out;
}

.header-menu > ul > li > a.active {
  color: #c71932 !important;
}

.header-menu > ul > li > a {
  color: #303030;
  width: 100%;
  font-size: 0.9333333333333333em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 24px;
}

.header-menu > ul > li:first-child > a {
  padding-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 270px;
  height: auto;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 9px 32px rgb(19 18 21 / 11%);
  display: none;
}
.dropdown-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu > ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu > ul > li {
  text-align: left;
  padding: 1rem 0 1rem 0;
}

.dropdown-menu > ul > li:hover > a {
  color: #c71932;
}

.dropdown-menu > ul > li > a {
  color: #777777;
  text-decoration: none;
  padding-left: 1.5rem;
}

/*? Menu End */

/*? Logo Begin */
.header-logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.header-logo .title {
  font-family: "Mars", "Inter";
}

/* Logo End  */

/* Options Begin*/

.header-options {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 0 7rem 0 7rem;
}

.header-options .search,
.account {
  height: 33px;
  width: 40px;
  margin-right: 0.5rem;
}

.header-options .cart {
  display: inline-flex;
  position: relative;
  height: 33px;
  width: 40px;
}

.header-options button,
.header-options span {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header-options button > i,
.header-options span > i {
  font-size: 2rem;
}

.header-options .sp-badge-cart {
  height: 1.3rem;
  width: 1.3rem;
  background-color: #303030;
  border-radius: 50%;
  text-align: center;
  color: #eee;
  font-size: 0.9rem;
  padding: 0.1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.header-options button:hover,
.header-options span:first-child:hover {
  color: #c71932;
  transition: 0.5s all ease-out;
}

/*? Options End */

/*? Slider Begin */
.slider-container {
  height: 84.1vh;
  width: 100%;
  padding-right: 110px;
  padding-left: 110px;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10;
  left: 34.3%;
  text-align: right;
  align-items: start;
  z-index: 3;
}

.details h1 {
  font-weight: 100;
  writing-mode: sideways-rl;
  width: 350px;
  opacity: 0;
  transform: translateX(15%);
  animation: details-anim 1s forwards ease-in-out;
}

.details span {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-left: 5px;
  color: rgb(108, 117, 125);
  opacity: 0;
  transform: translateY(100%);
  animation: details-anim 1s forwards ease-in-out;
}

.details a {
  text-align: center;
  margin-top: 3rem;
  text-decoration: none;
  color: #303030;
  border: 1px solid #303030;
  width: 150px;
  padding: 1rem;
  margin-left: 0.4rem;
  float: right;
  opacity: 0;
  transform: translateX(-15%);
  animation: details-a-anim 1s forwards ease-in-out;
  animation-delay: 0.3s;
}

.details a:hover {
  transition: all 0.3s linear;
  background-color: #000000;
  color: #aaa;
}

.details h1:nth-child(1) {
  text-align: left;
}

.side-info {
  position: absolute;
  top: 10rem;
  left: 0.5rem;
  writing-mode: vertical-rl;
  word-spacing: 0.1rem;
  letter-spacing: 0.2rem;
  transform: rotate(-180deg);
  /* transform: translateX(-122%); */
  animation: side-info-anim 1s forwards ease-in-out;
  animation-delay: 0.2s;
  z-index: 3;
  opacity: 0;
}

.side-info span {
  font-size: 1rem;
  color: rgba(108, 117, 125);
  font-weight: 700;
}

.white {
  position: absolute;
  background-color: #fff;
  width: 60%;
  height: 84.1vh;
  left: 0;
  transform: translateX(-100%);
  animation: white-box 1s forwards ease-in-out;
  z-index: 2;
}

/*? Animations */
@keyframes white-box {
  to {
    transform: translateX(-14.5%);
  }
}

@keyframes side-info-anim {
  to {
    opacity: 1;
  }
}

@keyframes details-anim {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes details-span-anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes details-a-anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes header-anim {
  to {
    opacity: 1;
  }
}
/*? Animations End */
/*? Slider End */

/*? Collections Begin */
.collections {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-right: 110px;
  padding-left: 110px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  gap: 30px;
}

.collections .row {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}

.collections .row .col-1 .collection > a,
.collections .row .col-2 .collection > a,
.collections .row .col-1 .collection > a > img,
.collections .row .col-2 .collection > a > img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collections .row .col-1 {
  position: relative;
  overflow: hidden;
}
.collections .row .col-2 {
  display: flex;
  position: relative;
  overflow: hidden;
  flex: 1;
  gap: 30px;
}

.overlay-effect {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.8s ease;
  background-color: rgba(48, 48, 48, 0.5);
}
/** Collection-1 CSS Style Begin */
.collections .row .col-1 .collection a .description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 3rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.collections .row .col-1 .collection a .description > h1 {
  position: absolute;
  font-size: 30rem;
  color: #d27700;
  opacity: 0.8;
  line-height: 0.8;
  letter-spacing: -0.08em;
  font-weight: 700;
}
.collections .row .col-1 .collection a .description > span {
  position: absolute;
  font-size: 3.3333333333333335em;
  font-weight: 600;
  color: #fff;
  padding-left: 5.4rem;
  opacity: 0.8;
}
.collections .row .col-1 .collection > a:hover .description > h1 {
  transform: translateY(92%);
  font-size: 15rem;
  transition: all 1s ease;
}

.collections .row .col-1 .collection > a:hover .description > span {
  transform: translateY(310%);

  transition: transform 1s ease;
}
.collections .row .col-1 .collection > a:hover .description > img {
  transform: scale(1.1);

  transition: transform 1s ease;
}
.collections .row .col-1 .collection > a:not(:hover) .description > h1 {
  transform: translateY(0);
  font-size: 30rem;
  transition: all 1s ease;
}
.collections .row .col-1 .collection > a:not(:hover) .description > span {
  transform: translateY(0);
  transition: all 1s ease;
}
.collections .row .col-1 .collection > a:not(:hover) .description > img {
  transform: scale(1);
  transition: all 1s ease;
}
.collections .row .col-1 .collection > a:hover > .overlay-effect {
  opacity: 1;
}
/** Collection-1 CSS Style End */

/** Collection-2 CSS Style Begin */

.collections .row .col-2 .collection a .description {
  position: absolute;
  color: #fff;
  padding: 3rem;
}
.collections .row .col-2 .collection a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.collections .row .col-2 .collection > a .description > h1 {
  font-size: 3.3333333333333335em;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.collections .row .col-2 .collection > a .description > h2 {
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
.collections .row .col-2 .collection > a .description > button {
  position: absolute;
  display: none;
}
/** Collection-2 CSS Style End */

/*? Collections End */
