/*! Imported utils Begin*/
@import url("utils.css");
@import url("icons.css");
/*! Imported utils End*/

/*! Imported font family Begin*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Medium.ttf);
}

@font-face {
  font-family: Mars;
  src: url(../fonts/Mars/Mars.otf);
}

/*! Imported font family End*/

/*? General Settings Begin */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Inter", Helvetica, Arial;
}
hr {
  opacity: 0.4;
}

a {
  text-decoration: none !important;
}
/*? General Settings End */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*? Topbar Begin*/

.topbar {
  display: block;
  background-color: #303030;
  height: 2.5rem;
  font-size: 0.9375rem;
}

.topbar .items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 6rem;
  text-transform: uppercase;
}

.topbar .items a {
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  color: #aaa;
  margin-right: 1rem;
}

.topbar .items a:hover {
  color: #c71932;
  transition: 0.5s all ease-out;
}

/*? Topbar End*/

/*? Header Begin*/

.header {
  display: flex;
  justify-content: space-between;
  height: 7.125rem;
  background-color: #fff;
  opacity: 0;
  animation: details-anim 1s forwards ease-in-out;
  position: relative;
  z-index: 2;
}

.header-sticky {
  width: 100%;
  position: fixed;
  height: 5.625rem;
  top: 0;
  z-index: 3;
  box-shadow: 0 0rem 0.5rem rgb(0 0 0 / 30%);
}

/*? Header End*/

/*? Header Begin*/

.header {
  display: flex;
  justify-content: space-between;
  height: 7.125rem;
  background-color: #fff;
  opacity: 0;
  animation: details-anim 1s forwards ease-in-out;
  position: relative;
  z-index: 2;
}

.header-sticky {
  width: 100%;
  position: fixed;
  height: 5.625rem;
  top: 0;
  z-index: 3;
  box-shadow: 0 0rem 0.5rem rgb(0 0 0 / 30%);
}

/** Menu Begin  */
.header-menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-right: 6.875rem;
  padding-left: 6.875rem;
  margin-right: auto;
  margin-left: auto;
}

.header-menu > ul {
  padding: 0;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header-menu > ul > li {
  list-style: none;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.header-menu > ul > li:hover > a {
  color: #c71932 !important;
  transition: 0.5s all ease-out;
}

.header-menu > ul > li > a.active {
  color: #c71932 !important;
}

.header-menu > ul > li > a {
  color: #303030;
  width: 100%;
  font-size: 0.9333333333333333em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 1.5rem;
}

.header-menu > ul > li:first-child > a {
  padding-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 16.875rem;
  height: auto;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 0.5625rem 2rem rgb(19 18 21 / 11%);
  display: none;
}
.header-menu > ul > .dropdown-item:hover .dropdown-menu {
  display: block;
}

.header-menu > ul > li > .dropdown-menu > ul {
  list-style-type: none;
  padding: 0;
}

.header-menu > ul > li > .dropdown-menu > ul > li {
  text-align: left;
  padding: 1rem 0 1rem 0;
}

.header-menu > ul > li > .dropdown-menu > ul > li:hover > a {
  color: #c71932;
}

.header-menu > ul > li > .dropdown-menu > ul > li > a {
  color: #777777;
  text-decoration: none;
  padding-left: 1.5rem;
}

/** Menu End */

/** Logo Begin */
.header-logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.header-logo .title {
  font-family: "Mars", "Inter";
  font-size: 2rem;
  text-decoration: none;
  color: #303030;
}

/** Logo End  */

/** Options Begin*/

.header-options {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 0 7rem 0 7rem;
}

.header-options .search,
.account {
  height: 2.0625rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}

.header-options .cart {
  display: inline-flex;
  position: relative;
  height: 2.0625rem;
  width: 2.5rem;
}

.header-options button,
.header-options span {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header-options button > i,
.header-options span > i {
  font-size: 2rem;
}

.header-options .cart .sp-badge-cart {
  height: 1.3rem;
  width: 1.3rem;
  background-color: #303030;
  border-radius: 50%;
  text-align: center;
  color: #eee;
  font-size: 0.9rem;
  padding: 0.1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.header-options button:hover,
.header-options .cart:hover {
  color: #c71932;
  transition: 0.5s all ease-out;
}

/** Options End */
/*? Header End */

/*? Slider Begin */
/*todo adjust slider background color dynamic and play animation when click on dots */

.slider-container {
  height: 84.1vh;
  width: 100%;
  padding-right: 6.875rem;
  padding-left: 6.875rem;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

.slider-container swiper-container {
  width: 100%;
  height: 100%;
}

.slider-container swiper-container swiper-slide {
  position: relative;
  text-align: center;
  font-size: 1.125rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container swiper-container swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container swiper-container swiper-slide .details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10;
  left: 34.3%;
  text-align: right;
  align-items: start;
  z-index: 3;
}

.slider-container swiper-container swiper-slide .details h1 {
  font-weight: 100;
  writing-mode: sideways-rl;
  width: 21.875rem;
  opacity: 0;
  transform: translateX(15%);
  animation: details-anim 1s forwards ease-in-out;
}

.slider-container swiper-container swiper-slide .details span {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-left: 0.3125rem;
  color: rgb(108, 117, 125);
  opacity: 0;
  transform: translateY(100%);
  animation: details-anim 1s forwards ease-in-out;
}

.slider-container swiper-container swiper-slide .details a {
  text-align: center;
  margin-top: 3rem;
  text-decoration: none;
  color: #303030;
  border: 0.0625rem solid #303030;
  width: 9.375rem;
  padding: 1rem;
  margin-left: 0.4rem;
  float: right;
  opacity: 0;
  transform: translateX(-15%);
  animation: details-a-anim 1s forwards ease-in-out;
  animation-delay: 0.3s;
}

.slider-container swiper-container swiper-slide .details a:hover {
  transition: all 0.3s linear;
  background-color: #000000;
  color: #aaa;
}

.slider-container swiper-container swiper-slide .details h1:nth-child(1) {
  text-align: left;
}

.slider-container swiper-container swiper-slide .side-info {
  position: absolute;
  top: 6rem;
  left: 0.5rem;
  writing-mode: vertical-rl;
  word-spacing: 0.1rem;
  letter-spacing: 0.2rem;
  transform: rotate(-180deg);
  animation: side-info-anim 1s forwards ease-in-out;
  animation-delay: 0.2s;
  z-index: 3;
  opacity: 0;
}

.slider-container swiper-container swiper-slide .side-info span {
  font-size: 1rem;
  color: rgba(108, 117, 125);
  font-weight: 700;
}

.slider-container swiper-container swiper-slide .white-box {
  position: absolute;
  background-color: #fff;
  width: 60%;
  height: 84.1vh;
  left: 0;
  transform: translateX(-100%);
  animation: white-box-anim 1s forwards ease-in-out;
  z-index: 2;
}

/** Slider Animations */
@keyframes white-box-anim {
  to {
    transform: translateX(-14.5%);
  }
}

@keyframes side-info-anim {
  to {
    opacity: 1;
  }
}

@keyframes details-anim {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes details-span-anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes details-a-anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes header-anim {
  to {
    opacity: 1;
  }
}
/** Slider Animations End */
/*? Slider End */

/*? Collections Begin */
.collections {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-right: 6.875rem;
  padding-left: 6.875rem;
  margin-right: auto;
  margin-left: auto;
  gap: 1.875rem;
}

.collections .row {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.875rem;
}

.collections .row .col-1 .collection a,
.collections .row .col-2 .collection a,
.collections .row .col-1 .collection a img,
.collections .row .col-2 .collection a img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collections .row .col-2 {
  display: flex;
  flex: 1;
  gap: 1.875rem;
}

.collections .row .collection:hover .overlay-effect {
  opacity: 1;
}
.overlay-effect {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.8s ease;
  background-color: rgba(48, 48, 48, 0.5);
}
/** Collection-1 CSS Style Begin */

.collections .row .col-1 .collection {
  position: relative;
  overflow: hidden;
}
.collections .row .col-1:first-child .collection a .description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 3rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.collections .row .col-1:first-child .collection a .description h1 {
  position: absolute;
  font-size: 30rem;
  color: #d27700;
  opacity: 0.8;
  line-height: 0.8;
  font-weight: 700;
}
.collections .row .col-1:first-child .collection a .description span {
  position: absolute;
  font-size: 3.3333333333333335em;
  font-weight: 600;
  color: #fff;
  padding-left: 4rem;
  opacity: 0.8;
}
.collections .row .col-1:first-child .collection a:hover .description h1 {
  transform: translateY(126%);
  font-size: 17.5rem;
  transition: all 1s ease;
}

.collections .row .col-1:first-child .collection a:hover .description span {
  transform: translateY(460%);

  transition: transform 1s ease;
}
.collections .row .col-1:first-child .collection a:hover img {
  transform: scale(1.1);
  transition: transform 1s ease;
}
.collections .row .col-1:first-child .collection a:not(:hover) .description h1 {
  transform: translateY(0);
  font-size: 30rem;
  transition: all 1s ease;
}
.collections
  .row
  .col-1:first-child
  .collection
  a:not(:hover)
  .description
  span {
  transform: translateY(0);
  transition: all 1s ease;
}
.collections .row .col-1:first-child .collection a:not(:hover) img {
  transform: scale(1);
  transition: all 1s ease;
}

/** Collection-1 CSS Style End */

/** Collection-2 CSS Style Begin */

.collections .row .col-2 .collection {
  position: relative;
  overflow: hidden;
}

.collections .row .col-2 .collection a .description {
  position: absolute;
  color: #fff;
  padding: 3rem;
  transform: translateY(5.875rem);
}
.collections .row .col-2 .collection a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.collections .row .col-2 .collection a .description h1 {
  font-size: 3.3333333333333335em;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.collections .row .col-2 .collection a .description h2 {
  text-transform: uppercase;
  line-height: 0.5;
  letter-spacing: 0.03em;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
.collections .row .col-2 .collection a .description button {
  position: absolute;
  padding: 0.8125rem 1.5625rem;
  display: inline-block;
  text-align: center;
  line-height: 1;
  vertical-align: top;
  position: relative;

  font-size: 0.9333333333333333em;
  font-weight: 600;
  text-transform: uppercase;
  border-style: solid;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0.125rem 0.125rem 0.125rem 0.125rem;
  margin-top: 2.5rem !important;
  line-height: 0.875rem;
  color: #fff;
}

.collections .row .col-2 .collection a:hover img {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.collections .row .col-2 .collection a:hover .description {
  transform: translateY(0);
  transition: all 1s ease;
}
.collections .row .col-2 .collection a:not(hover) .description {
  transform: translateY(5.875rem);
  transition: all 1s ease;
}
.collections .row .col-2 .collection a:not(:hover) img {
  transform: scale(1);
  transition: all 1s ease;
}
.collections .row .col-2 .collection a .description button:hover {
  background-color: #fff;
  cursor: pointer;
  color: #303030;
}

/** Collection-2 CSS Style End */

/** Collection-3 CSS Style Begin*/
.collections .row .col-1 .collection {
  position: relative;
}

.collections .row .col-1 .collection a .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0rem 0rem 3rem 3rem;
}
.collections .row .col-1 .collection a .description h1,
.collections .row .col-1 .collection a .description h2 {
  line-height: 1;
  color: #fff;
}
.collections .row .col-1 .collection a .description h1 {
  font-size: 5.4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.collections .row .col-1 .collection a .description h2 {
  font-size: 1.9333333333333333em;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.125rem;
}
.collections .row .col-1 .collection a .description h2::first-letter {
  text-transform: uppercase;
}

.collections .row .col-1 .collection a:hover img {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.collections .row .col-1 .collection a:hover .description {
  transform: translateY(-5.875rem);
  transition: all 1s ease;
}
.collections .row .col-1 .collection a:not(hover) .description {
  transform: translateY(0);
  transition: all 1s ease;
}
.collections .row .col-1 .collection a:not(:hover) img {
  transform: scale(1);
  transition: all 1s ease;
}

/** Collection-3 CSS Style End*/
/*? Collections End */

/*? Products Begin */

.product-container {
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 93px;
  padding-right: 6.875rem;
  padding-left: 6.875rem;
  margin-bottom: 100px;
}

.product-container .product {
  width: 100%;
  height: 100%;
}

.product-container .product .product-title {
  display: flex;
  justify-content: center;
}

.product-container .product .product-title h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.2;
  padding: 0;
  color: #303030;
  font-weight: 700;
}
.product-container .product .product-wrapper {
  width: 100%;
  height: 100%;
}
.product-container .product .product-wrapper .product-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container .product .product-wrapper .product-navigation {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin-bottom: 1rem;
}

.product-container .product .product-wrapper .product-navigation .nav-item {
  padding: 15px;
  list-style-type: none;
}

.product-container .product .product-wrapper .product-navigation .nav-item a {
  font-size: 1.2em;
  font-weight: 600;
  color: #777777;
  text-decoration: none;
  position: relative;
}

.product-container
  .product
  .product-wrapper
  .product-navigation
  .nav-item
  a.active {
  color: #000000;
}
.product-container
  .product
  .product-wrapper
  .product-navigation
  .nav-item
  > a.active::before {
  width: 50%;
  left: calc(50%);
}
.product-container
  .product
  .product-wrapper
  .product-navigation
  .nav-item
  > a.active::after {
  width: 50%;
  right: calc(50%);
}

.product-container
  .product
  .product-wrapper
  .product-navigation
  .nav-item
  > a:before,
li.nav-item > a:after {
  -webkit-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  content: "";
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: #303030;
}

.product-container .product .product-wrapper .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product-container .product .product-wrapper .row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 20%;
  padding-bottom: 3rem;
}
.product-container .product .product-wrapper .row .col .product-image {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}
.product-container .product .product-wrapper .row .col .product-image a {
  display: flex;
  width: 100%;
  height: 100%;
}

.product-container .product .product-wrapper .row .col .product-image img {
  width: 100%;
  height: 100%;
}

.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image
  .btn-wishlist {
  position: absolute;
  top: 21px;
  right: 21px;
  z-index: 2;
  font-family: "icon-h-37";
  background: none;
  font-size: 1.5rem;
  font-weight: inherit;
  line-height: 100%;
  box-shadow: none;
  min-width: 0px;
  max-width: 60px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  display: inline-block;
  height: auto;
  overflow: visible;
  color: #909090;
  cursor: pointer;
}
.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image
  .btn-wishlist
  i:hover {
  color: #ff4500;
}
.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image
  .btn-wishlist:hover
  .product-tooltip {
  display: flex;
  box-shadow: 0 0rem 0.5rem rgb(0 0 0 / 30%);
  animation: anim-tooltip 0.3s;
}
.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image
  .btn-wishlist
  .product-tooltip {
  font-family: "Poppins", "Inter", Helvetica, Arial;
  font-weight: 300;
  position: absolute;
  font-size: 0.7rem;
  border: 5px solid #303030;
  background-color: #303030;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 27px;
  text-align: center;
  top: -2px;
  right: 32px;
  display: none;
}

.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image
  .btn-wishlist
  .product-tooltip::before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  right: 0px;
  top: 50%;
  border: 5px solid transparent;
  border-right: 0;
  border-left: 5px solid #303030;
  transform: translate(calc(100% + 5px), -50%);
}

.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image
  a
  .discount-badge {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: #4acbb0;
  width: 70px;
  margin-bottom: 5px;
  font-size: 13px;
  letter-spacing: 0.05em;
  line-height: 24px;
  height: 24px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image
  a
  .out-of-stock-badge {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: #303030;
  width: 70px;
  margin-bottom: 5px;
  font-size: 13px;
  letter-spacing: 0.05em;
  line-height: 24px;
  height: 24px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.product-container .product .product-wrapper .row .col .group-button {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.product-container .product .product-wrapper .row .col .group-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  color: #cccccc;
  text-decoration: none;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  transform: translateY(100%);
  opacity: 0;
}
.product-container .product .product-wrapper .row .col .group-button a:hover,
.product-container
  .product
  .product-wrapper
  .row
  .col
  .group-button
  button:hover {
  background-color: #c81d31;
}
.product-container .product .product-wrapper .row .col .group-button button {
  flex: 2;
  cursor: pointer;
  background-color: #303030;
  line-height: 41px;
  font-size: 0.9333333333333333em;
  letter-spacing: 0.075em;
  padding: 0;
  font-weight: 400;
  border: none;
  width: 45px;
  height: 45px;
  margin: 0rem 0.06rem;
  color: #cccccc;
  transform: translateY(100%);
  opacity: 0;
}

.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image:hover
  .group-button
  a {
  transform: translateY(0%);
  transition: 0.5s all ease;
  opacity: 1;
}
.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image:not(hover)
  .group-button
  a {
  transform: translateY(100%);
  transition: 0.5s all ease;
  opacity: 0;
}
.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image:hover
  .group-button
  button {
  transform: translateY(0%);
  transition: 0.3s all ease;
  opacity: 1;
}
.product-container
  .product
  .product-wrapper
  .row
  .col
  .product-image:not(hover)
  .group-button
  button {
  transform: translateY(100%);
  transition: 0.3s all ease;
  opacity: 0;
}
.product-container .product .product-wrapper .row .col .description .title h5 {
  color: #909090;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 2px;
  padding: 0;
  font-size: 1rem;
  line-height: 1.2;
}

.product-container
  .product
  .product-wrapper
  .row
  .col
  .description
  .price
  span {
  font-size: 1.2em;
  line-height: 1.44444444444;
  font-weight: 600;
  text-align: left;
  color: #303030;
}

.btn-more-container {
  margin-top: 30px;
  text-align: center;
}

.btn-shop-more {
  width: 9.161rem;
  height: 2.75rem;
  background: #ffffff;
  color: #303030;
  border: 2px solid #303030;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 1.42857142857;
  letter-spacing: 0.03em;
  position: relative;
  outline: none;
  padding: 10px 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  transition: all 0.2s linear;
}

.btn-shop-more:hover {
  background-color: #303030;
  color: #fff;
}

/** Products Animation Begin */
@keyframes anim-tooltip {
  from {
    transform: translateX(-15px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/** Products Animation End */
/*? Products End */

/* Blog Begin */

.blog-container {
  top: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  padding: 95px 6.875rem 92px 6.875rem;
}

.blog-container .blog {
  width: 100%;
  height: 100%;
}

.blog-container .blog .blog-title {
  text-align: center;
  padding-bottom: 42px;
}

.blog-container .blog .blog-title h2 {
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
  color: #303030;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  display: block;
  position: relative;
}
.blog-container .blog .blog-title h2 a {
  text-decoration: none;
  display: inline-block;
  color: #303030;
  background-color: transparent;
  transition: color 0.2s linear;
}
.blog-container .blog .blog-title h2 a:visited {
  outline: none;
}
.blog-container .blog .blog-title h2 a:hover {
  color: #c71932;
}

.blog-container .blog .blog-title p {
  line-height: 1.9;
  font-weight: 400;
  padding: 0;
  color: #7c7c80;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.blog-container .blog .row {
  display: flex;
  flex-wrap: wrap;
}
.blog-container .blog .row .col {
  flex: 1;
  padding: 0 15px;
  position: relative;
  margin-top: 0;
}

.blog-container .blog .row .col .blog-image img {
  width: 100%;
  object-fit: cover;
  height: 314px;
}

.blog-container .blog .row .col .description {
  padding-top: 0;
  opacity: 1;
}
.blog-container .blog .row .col .blog-time {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color: #fff;
  min-width: 40px;
  padding: 10px 8px;
  transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  -webkit-transition: all 300ms linear 0ms;
  color: #303030;
}
.blog-container .blog .row .col .blog-time .time-date {
  font-size: 1.4666666666666666em;
  line-height: 1;
  margin-bottom: 4px;
}
.blog-container .blog .row .col .blog-time .time-month {
  font-size: 0.9333333333333333em;
  line-height: 14px;
}

.blog-container .blog .row .col .description {
  padding-top: 14px;
  text-align: center;
}
.blog-container .blog .row .col .description .category a {
  font-size: 0.9333333333333333em;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
  color: #777777;
  text-decoration: none;
  background-color: transparent;
}

.blog-container .blog .row .col .description .category a:hover {
  color: #303030;
}

.blog-container .blog .row .col .description .title {
  text-transform: uppercase !important;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  display: block;
  position: relative;
  margin-bottom: 0px;
  color: #303030;
}
.blog-container .blog .row .col .description .title a {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.445;
  text-transform: capitalize;
  color: #303030;
  transition: color 0.2s linear;
}

.blog-container .blog .row .col .description .title a:hover {
  color: #c71932;
}

.blog-container .blog .row .col .description .meta .author {
  font-size: 0.9333333333333333em;
  font-weight: 400;
  line-height: 26px;
  font-style: italic;
  color: #777777;
}
.blog-container .blog .row .col .description .meta .author a {
  color: #777777;
}
.blog-container .blog .row .col .description .meta .author a:hover {
  color: #303030;
}
/* Blog End*/

/* Instagram Begin*/
.instagram-container {
  top: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  padding: 95px 6.875rem 92px 6.875rem;
}

.instagram-container .instagram {
  width: 100%;
  height: 100%;
  text-align: center;
}

.instagram-container .instagram .title {
  padding-bottom: 42px;
  padding: 0;
  margin-bottom: 12px;
  color: #303030;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
  position: relative;
  margin-top: 0;
}

.instagram-container .instagram .description a {
  line-height: 1.9;
  font-weight: 400;
  padding: 0;
  color: #7c7c80;
}

.instagram-container .instagram .description a:hover {
  color: #303030;
}

.instagram-container .instagram .description a:visited {
  outline: none;
}
/* Instagram End*/

/* Newsletter Begin */

.newsletter-container {
  top: 0;
  width: 100%;
  height: 100%;
  padding: 92px 6.875rem 50px 6.875rem;
}

.newsletter-container .newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.newsletter-container .newsletter .description {
  padding-bottom: 42px;
}
.newsletter-container .newsletter .title h2 {
  font-size: 2.4375rem;
  text-transform: uppercase;
  padding: 0;
  color: #303030;
  font-weight: 700;
  margin-top: 0;
}

.newsletter-container .newsletter .subtitle p {
  font-size: 0.9333333333333333em;
  font-weight: 500;
  line-height: 1.9;
  padding: 0;
  color: #7c7c80;
}

.newsletter-container .newsletter .input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 720px;
}

.newsletter-container .newsletter .input-group .form-control {
  width: calc(100% - 133px);
  padding: 0 20px;
  font-size: 0.9333333333333333em;
  letter-spacing: 0.35px;
  height: 50px;
  font-weight: 500;
  margin-right: 5px;
  border: 2px solid #303030 !important;
  background-color: #ffffff;
  color: #303030;
}

.newsletter-container .newsletter .input-group .btn-subscribe {
  min-width: 128px;
  padding: 14px 10px;
  display: inline-block;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  text-shadow: none;
  font-size: 0.9333333333333333em;
  line-height: normal;
  border-radius: 0px;
  height: 50px;
  margin: 0 !important;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 300ms linear 0ms;
  cursor: pointer;
  position: relative;
  outline: none;
  text-align: center;
  background: #303030;
  border: 2px solid #303030;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.newsletter-container .newsletter .input-group .btn-subscribe:hover {
  outline: none;
  border-color: #303030;
  background: #ffffff;
  color: #303030;
}
/* Newsletter End */

/* Footer Begin */

.footer-container {
  top: 0;
  width: 100%;
  height: 100%;
  padding: 92px 6.875rem 50px 6.875rem;
}

.footer-container .footer {
  display: flex;
  justify-content: space-between;
}

.footer-container .footer .copyright {
  display: flex;
}

.footer-container .footer .copyright a {
  margin-right: 37px;
  position: relative;
  top: 0;
  display: inline-block;
}
.footer-container .footer .copyright a:visited {
  text-decoration: none;
  outline: none;
}

.footer-container .footer .copyright .title {
  padding: 0;
  font-size: 0.9333333333333333em;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: block;
  position: relative;
  margin-bottom: 0px;
  color: #303030;
}

.footer-container .footer .copyright .menu-general {
  padding: 0;
  margin: 0;
}
.footer-container .footer .copyright .menu-general li:first-child {
  margin-left: 0;
}
.footer-container .footer .copyright .menu-general li {
  display: inline-block;
  margin-left: 32px;
}
.footer-container .footer .copyright .menu-general li a {
  margin: 0;
  font-size: 0.9333333333333333em;
  text-transform: capitalize;
  color: #7c7c80;
  font-weight: 500;
  line-height: 2.14;
}
.footer-container .footer .social li:first-child {
  padding-left: 0;
}
.footer-container .footer .social li {
  list-style: none;
  display: inline-block;
  padding: 0 12px;
}
.footer-container .footer .social li a {
  font-size: 0.9333333333333333em;
  color: #777777;
}

/* Footer End */
